:root {
    --font-family-text: "Nunito Sans", sans-serif;
    --font-family-title: "Roboto", sans-serif;

    // s - font

    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-text);

    // m - font

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-text);

    // l - font

    --font-size-l: 20px;
    --font-line-l: 24px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-title);

    // xl - font

    --font-size-xl: 24px;
    --font-line-xl: 28px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-title);

    // z - indexes

    --modal-z-index: 1000;
    --overlay-z-index: 100;

    // colors

    --overlay-color: rgba(16 13 13 / 50%);
    --red-light: #d30a0a;
    --red-dark: #990303;

    // heights

    --navbar-height: 56px;

    // widths

    --scrollbar-width: 12px;
    --article-card-width: 720px;
    --rating-button-width: 56px;
    --article-filters-width: 280px;
    --articles-page-width:
        calc(
            (var(--article-card-width) + var(--rating-button-width) + var(--article-filters-width) + 32px)
        );

    // positions

    --refresh-btn-left: calc((100vw - var(--articles-page-width) - var(--scrollbar-width)) / 2 - 48px);
}

@media screen and (max-width: 900px) {
    :root {
        --article-card-width: 100%;
        --rating-button-width: 5vw;
        --article-filters-width: 100%;
        --articles-page-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --article-card-width: 100%;
        --rating-button-width: 1vw;
        --article-filters-width: 100%;
        --articles-page-width: 100%;

        // s

        --font-size-s: 8px;
        --font-line-s: 12px;

        // m

        --font-size-m: 12px;
        --font-line-m: 16px;

        // l

        --font-size-l: 16px;
        --font-line-l: 20px;

        // xl

        --font-size-xl: 20px;
        --font-line-xl: 24px;
    }
}
