.title {
    color: var(--text-redesigned);
}

.text {
    color: var(--text-redesigned);
}

.preWrap {
    white-space: pre-wrap;
}

.normalWrap {
    white-space: normal;
}

.noWrap {
    white-space: nowrap;
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.accent {
    .title {
        color: var(--accent-redesigned);
    }

    .text {
        color: var(--accent-redesigned);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}
