.myImage {
    float: left;
    margin-right: 24px;
    margin-top: 8px;
    width: 320px;
    border-radius: 8px;
}

.about {
    h1,
    p {
        padding: 8px 0;
    }
}

.backend {
    margin-top: 16px;
}

.backend,
.frontend {
    width: 100%;
    padding: 16px;
}
