.AddCommentForm {
    border: 1px solid var(--primary-color);
    padding: 10px;
}

.textarea {
    max-height: 120px;
}

@media screen and (max-width: 500px) {
    .textarea {
        max-height: 84px;
    }
}
