.StackItem {
    max-width: 260px;
    margin-top: 16px;

    a {
        h1 {
            color: var(--icon-redesigned);
        }

        h1:hover {
            color: var(--accent-redesigned);
        }
    }
}
