.scrollFallback {
    height: 5000px;
}

.ArticleListSkeleton {
    padding-left: 72px;
}

.card {
    width: var(--article-card-width);
}

.refresh {
    position: fixed;
    top: 72px;
    left: var(--refresh-btn-left);
}
