.collapsed {
    max-height: 800px;
    overflow-y: hidden;
}

.ArticleListItem {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.rating {
    position: sticky;
    top: 72px;
}

.comment {
    padding-top: 4px;
}

.card {
    width: var(--article-card-width);
    padding: 24px;
    border-radius: 12px;
    background: var(--dark-bg-redesigned);
}

@media screen and (max-width: 900px) {
    .ArticleListItem {
        flex-direction: column;
        position: relative;
    }

    .rating {
        position: absolute;
        z-index: 10;
        top: 16px;
        right: 16px;
    }
}
