.collapsed {
    max-height: 600px;
    overflow-y: hidden;
}

.ArticleListItem {
    padding-bottom: 16px;
}

.rating {
    position: sticky;
    top: 72px;
}

.comment {
    padding-top: 4px;
}

.card {
    width: var(--article-card-width);
}
