.AuthForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

@media screen and (max-width: 500px) {
    .AuthForm {
        width: 76vw;
    }
}

.input {
    margin-top: 10px;
}

.submitBtn,
.toggleBtn {
    margin-top: 15px;
    margin-left: auto;
}
