.app_brown_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #4e260a;
    --primary-color: #4e260a;
    --secondary-color: #290805;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #f4f8fb;
}
