.app_brown_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #4e260a;
    --primary-color: #4e260a;
    --secondary-color: #290805;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #f4f8fb;

    // redesigned

    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

    // skeleton

    --skeleton-shadow: #d4c6bb;
    --skeleton-color: #fdfdfd;

    // code

    --code-bg: #e0d2c7;

    // card

    --card-bg: #b6aaaa;

    // listbox

    --listbox-bg: #b6aaaa;
}
