.app_dark_theme {
    --bg-color: #0f0f9e;
    --inverted-bg-color: #c5c5c6;
    --primary-color: #0ba60b;
    --secondary-color: #74cc74;
    --inverted-primary-color: #2a74eb;
    --inverted-secondary-color: #00d5ff;

    // skeleton

    --skeleton-shadow: #3030d3;
    --skeleton-color: #0b0b72;

    // code

    --code-bg: #070761;

    // card

    --card-bg: #2f2fea;

    // listbox

    --listbox-bg: #2f2fea;
}
