.app_ligth_theme {
    --bg-color: #c5c5c6;
    --inverted-bg-color: #0f0f9e;
    --primary-color: #122cac;
    --secondary-color: #0d90ed;
    --inverted-primary-color: #0ba60b;
    --inverted-secondary-color: #74cc74;

    // skeleton

    --skeleton-shadow: #6d6d70;
    --skeleton-color: #dedee4;

    // code

    --code-bg: #a7a7ac;

    // card

    --card-bg: #e8e8f3;
}
