:root {
    --bg-color: #c5c5c6;
    --inverted-bg-color: #0f0f9e;
    --primary-color: #2a74eb;
    --secondary-color: #00d5ff;
    --inverted-primary-color: #0ba60b;
    --inverted-secondary-color: #74cc74;
}
