.MainLayout {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    width: calc(100vw - var(--scrollbar-width));
    justify-self: start;
}

.navbar {
    width: calc(100vw - var(--scrollbar-width));
    position: fixed;
    z-index: 10000;
    align-self: start;
}

.navbar::before {
    position: fixed;
    content: "";
    z-index: -10000;
    width: 100vw;
    background: var(--dark-bg-redesigned);
    height: var(--navbar-height);
}

.toolbar {
    position: fixed;
    left: 0;
    top: 56px;
    height: calc(100vh - 56px);
    width: 64px;
}

.content {
    grid-area: content;
    margin-top: 56px;
    width: 100%;
    max-width: var(--articles-page-width);
}

.transperent {
    opacity: 0;
}
