.ArticlesPageLayout {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.ScrollToTopButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
}

.listWrapper {
    position: absolute;
    height: 100%;
    top: 0;
    left: var(--articles-page-offset-x);
    width: calc(100vw - var(--articles-page-offset-x));
}

.right {
    position: absolute;
    top: 16px;
    width: 264px;
    right: var(--articles-page-offset-x);
}
