/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
.link {
    opacity: 1;
    font: var(--font-m);
    font-weight: 700;
}

.NavigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    visibility: visible;
    opacity: 1;
    transition: 0.1s 0.1s opacity;
}

.active {
    color: var(--accent-redesigned);
    border-bottom: 2px var(--accent-redesigned) solid;
}

@media screen and (max-width: 900px) {
    .link {
        font: var(--font-xl);
    }

    .collapsed {
        visibility: collapse;
        opacity: 0;
    }
}
