.ArticleDetailsCard {
    display: flex;
    gap: 16px;
    align-items: start;
}

.rating {
    position: sticky;
    top: 72px;
}

.card {
    width: var(--article-card-width);
}

@media screen and (max-width: 900px) {
    .ArticleDetailsCard {
        flex-direction: column;
        position: relative;
    }

    .rating {
        position: absolute;
        z-index: 10;
        top: 16px;
        right: 16px;
    }
}
